body{
    font-family: 'Cute Font', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}